<div class="tab-pane" id="type">
    <h4 class="info-text">Thông tin hành khách</h4>
    <div class="row">
        <div class="col-sm-5 col-sm-offset-1">
            <div class="form-group">
                <label>Họ tên </label>
                <input type="text" class="form-control" placeholder="Họ tên của hành khách" />
            </div>
        </div>
        <div class="col-sm-5">
            <div class="form-group">
                <label>E-Mails</label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Địa chỉ email" />
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-sm-offset-1">
            <div class="form-group">
                <label>CMND </label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Số chứng minh thư" />
                    <span class="input-group-addon"><i class="fa fa-ticket"></i></span>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="form-group">
                <label>Di động </label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Số di động" />
                    <span class="input-group-addon"><i class="fa fa-mobile-phone"></i></span>
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-sm-offset-1">
            <div class="form-group">
                <label>Tỉnh/TP </label>
                <select class="form-control">
                    <option disabled="" selected="">- Chọn tỉnh/tp -</option>
                    <option value="Afghanistan"> An Giang </option>
                    <option value="Albania"> Bình Định </option>
                    <option value="Algeria"> Hà Tiên </option>
                    <option value="American Samoa"> Hậu Giang </option>
                    <option value="Andorra"> Nha Trang </option>
                    <option value="Angola"> Ninh Hòa </option>
                    <option value="Anguilla"> Trà Vinh </option>
                    <option value="Antarctica"> TP.Hồ Chí Minh </option>
                    <option value="Angola"> Đà Nẵng </option>
                    <option value="Anguilla"> Vĩnh Long </option>
                    <option value="Antarctica"> Vũng Tàu </option>
                </select>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="form-group">
                <label>Quận/Huyện </label><br>
                <select class="form-control">
                    <option disabled="" selected="">- Chọn quận/huyện -</option>
                    <option value="Afghanistan"> An Giang </option>
                    <option value="Albania"> Bình Định </option>
                    <option value="Algeria"> Hà Tiên </option>
                    <option value="American Samoa"> Hậu Giang </option>
                    <option value="Andorra"> Nha Trang </option>
                    <option value="Angola"> Ninh Hòa </option>
                    <option value="Anguilla"> Trà Vinh </option>
                    <option value="Antarctica"> TP.Hồ Chí Minh </option>
                    <option value="Angola"> Đà Nẵng </option>
                    <option value="Anguilla"> Vĩnh Long </option>
                    <option value="Antarctica"> Vũng Tàu </option>
                </select>
            </div>
        </div>
        
    </div>
</div>